<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>贷款协议</title>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <style>
        body {
            font-size: 16px;
            font-family: "微软雅黑", sans-serif;
            color: #888888;
            line-height: 1.5;
            padding: 10px;
            letter-spacing: 1px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        td {
            border: 1px solid #000;
            padding: 4px 10px
        }

        .title1 {
            font-size: 34px;
            text-align: center;
            color: #000;
            font-weight: bold
        }

        .title2 {
            font-size: 18px;
            text-align: center;
            color: #000;
            padding: 15px;
            font-weight: bold
        }

        .title3 {
            font-size: 18px;
            color: #000;
            padding: 0px;
            font-weight: bold
        }
    </style>

    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>

</head>

<body>
<div class="title1">贷款协议</div>
<div class="title2">（电子版）</div>
<div class="title2">客户须知</div>

<div>

    <p>
        1.当您通过网络页面点击“同意”（或其他类似意思表示）的方式签订本电子协议及与本电子协议有关的任何法律文件，即表示您与及时贷已达成协议并同意接受本协议的全部约定内容以及及时贷的其他与本协议有关的各项规定，与亲笔签名具有同等法律效力，协议双方无需重新补办书面文书及借款借据。</p>

    <p>
        2.请您务必妥善保管重要协议信息，如因您的个人原因，无论是故意或过失，使得重要协议信息被他人所控制，由此可能带来的不利后果均由您承担。届时您不得以账号等重要信息丢失、被盗用等任何理由否认签约的效力及履行本电子协议的义务。</p>

    <p>3.您认可电子数据的有效性和证据效力。前述电子数据包括但不限于电子银行系统所生成和保留记载的相关电子协议、电子单据、电子凭证、交易记录等相关资料均构成有效证明协议各方之间权利义务关系的确定证据。</p>

    <p>甲方(服务方): <span name="JF"></span></p>
    <p>乙方(申请人): <span name="YF"></span></p>
    <p>身份证号码: <span name="idCardNo"></span></p>
    <p>联系电话: <span name="tel"></span></p>

    <div class="title3">第一条 贷款申请</div>
    <p>1.1 贷款申请相关信息</p>
    <table>
        <tr>
            <td>贷款用途</td>
            <td>资金周转</td>
        </tr>
    </table>
    <p>1.2 乙方指定下述账户为贷款接收账户：</p>
    <p>账户名称：<span name="bankName"></span></p>
    <p>账 号：<span name="bankCardNo"></span></p>
    <!--<p>开 户 行：<span name="bankAddress">浙江</span></p>-->
    <p>1.3 甲方在批准乙方贷款请求后的两个工作日内将贷款金额汇入本协议1.2款所示的乙方指定贷款接收账户。</p>
    <p>1.4 贷款从实际发放贷款之日起开始计息，还款方式为一次性还本付息，即到期后一次性返回全部本息。
        计算公式为：当期应还本金*月利率，其中月利率=贷款年利率/12。按日计息的计算公式为：贷款审批金额*计息天数*日利率，其中日利率＝贷款年利率/360。</p>

    <div class="title3">第二条 贷款还款</div>
    <p>2.1 乙方承诺按照还款安排按时及时足额向甲方偿还贷款本金和利息。</p>
    <p>2.2
        乙方或其授权第三方应在还款日当日24:00时前将本条约定的应偿还贷款本息数额存入本条第一款表格中甲方指定的还款接收账户，甲方指定还款接收账户收到该笔还款时，视为还款成功。乙方于还款日24：00时前还款成功的，视为在还款日还款。还款日当日24:00前，乙方应按本协议约定的贷款偿还方式完成足额本息的偿还。</p>
    <p>2.3 如还款日为法定假日或公休日，还款日不顺延。</p>
    <p>2.4乙方同意甲方委托甲方指定的第三方代为接收还款本息。</p>
    <p>2.5本协议项下贷款允许提前还款，提前还款不退还已收利息。</p>


    <div class="title3">第三条 违约责任与解除协议</div>
    <p>3.1 如乙方未于本协议第二条约定的还款日当日24：00时前成功足额还款，视为逾期。乙方逾期的，应向甲方支付逾期罚息。</p>
    <p>3.2 逾期罚息计算方式如下:</p>
    <p>3.2.1 乙方应偿还而未予以偿还的贷款将在还款日起至实际支付日期间按照本协议贷款日利率的2%按日计算加收的罚息。</p>
    <p>3.3 逾期罚息单独计算。</p>
    <p>3.4 非因甲方原因导致甲方未收到乙方还款，视为乙方逾期还款，乙方应按本协议的约定向甲方支付逾期罚息(逾期罚息计算方式参见本条第二款)。</p>
    <p>3.5 若乙方偿还金额不足，偿还先后顺序依次为逾期罚息、应还利息、应还本金。</p>
    <p>3.6 乙方发生下述情形之一时，甲方有权解除本协议，乙方需在甲方提出解除协议之日起五日内一次性支付剩余全部贷款本息、逾期罚息。</p>
    <p>3.6.1 乙方擅自改变本协议第一条规定的贷款用途；</p>
    <p>3.6.2 严重违反还款义务（逾期达到45天及以上）；</p>
    <p>3.6.3 乙方提供虚假资料或者故意隐瞒重要事实；</p>
    <p>3.6.4 乙方未经甲方同意擅自转让本协议项下贷款债务的；</p>
    <p>3.6.5 乙方受到刑事处罚；</p>
    <p>3.6.6 乙方的任何财产遭受没收、征用、查封、扣押、锁定等可能影响其履约能力的不利事件，且不能及时提供有效补救措施或有效担保的；</p>
    <p>3.6.7 乙方的财务状况出现影响其履约能力的不利变化，且不能及时提供有效补救措施或有效担保的。</p>
    <p>3.7 若因本条第六款所述情形而导致乙方违约，或根据甲方合理判断认为乙方可能发生本条第六款所述的违约情形的，甲方有权自行或委托甲方指定的第三方采取下列任何一项或几项救济措施。</p>
    <p>3.7.1 立即暂缓或取消发放全部或部分贷款；</p>
    <p>3.7.2 宣布已发放贷款全部提前到期，乙方应立即偿还剩余全部贷款本息、逾期罚息；</p>
    <p>3.7.3 解除本协议；</p>
    <p>3.7.4 采取法律、法规以及本协议约定的其他救济措施。</p>
    <p>3.8
        乙方授权并同意甲方或甲方指定的第三方向中国人民银行个人或企业信用信息基础数据库、监管部门或甲方指定的信用征集机构、有关部门、单位或个人调查、核实乙方的财产、资信等情况，并留存相关资料，并在中国人民银行颁布的《个人信用信息基础数据库管理暂行办法》规定用途范围内使用获取的信用报告。且乙方同意，甲方或甲方指定的第三方可将乙方违约的相关信息通过公众媒体等方式公开披露。甲方或甲方指定的第三方有权将乙方不良信息向国家有关征信机构提供。如乙方存在涉嫌欺诈、诈骗等违法犯罪行为，甲方或甲方指定的第三方有权向有关国家机关报案，以追究其刑事责任。</p>
    <p>3.9 若因征信机构对乙方个人信息的加工、制作、开发和使用而与乙方产生任何纠纷，与甲方无关，甲方对此不承担任何法律责任。</p>
    <p>3.10 因乙方违约而导致甲方产生的损失和费用，包括但不限于本息损失、诉讼费用、调查费用、律师费用、差旅费用等，均由乙方承担。</p>


    <div class="title3">第四条 乙方联系方式及变更通知</div>
    <p>4.1 在本协议签署时，乙方应向甲方提交包括但不限于乙方如下联系信息。乙方应对该信息的真实性和有效性负责。</p>
    <p>4.1.1 乙方所在学校或单位、居住地址、住所电话、手机号码、电子邮箱等；</p>
    <p>4.1.2 乙方家庭联系人或紧急联系人工作单位、居住地址、住所电话、手机号码等。</p>
    <p>4.2 在乙方签署本协议之日起至贷款全部清偿之日止，乙方有义务在上述信息变更之日起三日内提供更新后的信息给甲方。</p>
    <p>4.3
        因乙方不提供或提供信息不真实或不及时提供上述变更信息，甲方向乙方提供的原联系方式和地址送达的，视为已送达、已通知。因乙方不提供或提供信息不真实或不及时提供上述变更信息而导致甲方产生的损失和费用，包括但不限于本息损失、诉讼费用、律师费、调查费用、差旅费等，均由乙方承担。</p>

    <div class="title3">第五条 保证条款</div>
    <p>5.1
        丙方作为保证人，保证方式为连带责任保证，保证期间为借款到期日起二年；借款人与贷款人达成期限变更协议的，保证人继续承担保证责任，保证期间自期限变更协议约定的债务履行期限届满之日起二年。若发生法律法规规定或者本合同约定的事项，导致本合同债务被秒秒贷服务方宣布提前到期的，保证期间自贷款服务提供方确定的债务提前到期之日起二年。</p>
    <p>5.2
        保证人未按本合同约定履行保证责任的，秒秒贷服务方有权直接从保证人在旅游贷款平台处开立的账户中划收相应款项用以清偿，直至贷款申请人在本合同项下的所有债务全部清偿完毕止。划收的款项不足以清偿贷款申请人所有债务的，秒秒贷服务方有权决定清偿顺序。</p>
    <p>5.3
        贷款申请人发生逾期还款的，如保证人先行垫付贷款申请人应偿还给秒秒贷平台的本息（下称“垫付的预付本息”），保证人在向秒秒贷平台进行垫付的同时，即刻自动取得秒秒贷对贷款申请人的相应债权及其他权利（包括但不限于追索垫付预付本息所产生的诉讼费、保全费、律师费、调查费、交通费等)，包括但不限于就前述债权向旅游贷款申请人追偿的权利，且秒秒贷平台不再就前述已让渡给保证人的债权向旅游贷款申请人人主张任何权利，或向保证人主张任何权利，同时旅游贷款平台在此授权保证人可以视情况（必要时）将垫付等相关事项通知旅游贷款申请人。</p>

    <div class="title3">第六条 争议管辖</div>
    <p>6.1 本协议之签署、效力、履行、终止、解释、执行及项下争议解决均适用中国法律。</p>
    <p>6.2 各方一致同意，因本协议引起或与之有关的所有争议均应通过双方友好协商解决。协商不成的，由甲方所在地人民法院管辖。</p>

    <div class="title3">第七条 其他</div>
    <p>7.1 本协议的任何修改、补充均需以书面形式作出，补充条款与本协议具有同等的法律效力。</p>
    <p>7.2 本协议自各方以电子合同的形式订立。</p>
    <p>7.3
        本合同成立：当乙方通过网络页面或手机APP点击“同意”（或其他类似意思表示，具体以网站显示为准）的方式签订本电子协议确认后，即视为乙方已经充分阅读并同意本合同内容，向甲方作出出借资金的承诺及签署行为，本合同即时成立。</p>
    <p>7.4 本合同生效：甲方将本合同项下旅游贷款的划转至乙方指定收款账户时，本合同即时生效。</p>
    <p>7.5 本协议部分条款因违反法律法规被视为无效时不影响本协议其他条款的效力。</p>
    <p>7.6 本合同项下《个人借据》作为本合同附件，与本合同具有同等效力。</p>
    <p>7.7 本协议未尽事宜，双方或与本协议履行有关的第三方有权另行签订协议、补充协议或补充条款，另行签订的协议、补充协议或补充条款，与本协议具有同等法律效力。</p>

    <div class="title3">第八条 借款人声明</div>
    <p>8.1 本人已经阅读本协议所有条款，充分了解并清楚知晓相应的权利义务，并承诺本人用甲方发放的贷款所购买的商品或服务的质量与甲方无关，本人保证在任何情况下均按时、足额履行还款义务。
    <p>8.2 乙方同意甲方委托甲方指定的第三方代为接收贷款、代为接收还款本息。</p>
    <p>甲方：<span name="JF"></span></p>
    <p>乙方：<span name="YF"></span></p>
    <p>本协议签订时间：<span name="signTime"></span></p>


    <div class="title1">附件凭证</div>
    <br/>
    <table>
        <tr>
            <td>贷款申请人：</td>
            <td colspan="3"><span name="YF"></span></td>
        </tr>
        <tr>
            <td>证件类型：</td>
            <td>身份证</td>
            <td>号码：</td>
            <td><span name="idCardNo"></span></td>
        </tr>
        <tr>
            <td>收款卡号：</td>
            <td><span name="bankCardNo"></span></td>
            <td>扣款账号：</td>
            <td><span name="bankCardNo"></span></td>
        </tr>
        <tr>
            <td>贷款协议号：</td>
            <td colspan="3"><span name="loanNo"></span></td>
        </tr>
        <tr>
            <td>贷款金额：</td>
            <td colspan="3"><span name="loanAmount"></span></td>
        </tr>
        <tr>
            <td>贷款申请人：</td>
            <td><span name="YF"></span></td>
            <td>服务方：</td>
            <td><span name="JF"></span></td>
        </tr>
    </table>

    <div style="height: 100px"></div>
</div>
</body>

<script type="text/javascript">

    $(function () {

        var JF = ''; //甲方
        var YF = ''; //乙方
        var idCardNo = ''; //乙方身份证号
        var bankCardNo = ''; //乙方收款/扣款银行卡号
        var bankName = ''; //乙方银行名称
        // var bankAddress = '浙江'; //开户地址
        var loanAmount = '1500.00'; //贷款金额，元
        var signTime = ''; //协议签署时间
        var tel = ''; //乙方手机号
        var loanNo = ''; //贷款协议号

        var uid = getQueryString('uid');
        var source = getQueryString('source');

        $.ajax({
            type: "GET",
            url: "/contract/queryLoanInfo?uid=" + uid + "&source=" + source,
            dataType: "json",
            success: function (data) {
                JF = data.JF;
                YF = data.YF;
                idCardNo = data.idCardNo;
                bankCardNo = data.bankCardNo;
                bankName = data.bankName;
                loanAmount = data.loanAmount;
                signTime = data.signTime;
                tel = data.tel;
                loanNo = data.loanNo;

                $('span[name="JF"]').text(JF);
                $('span[name="YF"]').text(YF);
                $('span[name="idCardNo"]').text(idCardNo);
                $('span[name="bankCardNo"]').text(bankCardNo);
                $('span[name="bankName"]').text(bankName);
                // $('span[name="bankAddress"]').text(bankAddress);
                $('span[name="loanAmount"]').text(loanAmount);
                $('span[name="signTime"]').text(signTime);
                $('span[name="tel"]').text(tel);
                $('span[name="loanNo"]').text(loanNo);
            },
            error: function (e) {
                alert('网络异常，请稍后重试');
                console.error(e);
            }
        });
    });


    function getQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]);
        return null;
    }

</script>

</html>
