<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mod.loan.mapper.ReportRegisterOrderMapper">
  <resultMap id="BaseResultMap" type="com.mod.loan.model.ReportRegisterOrder">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="day_key" jdbcType="DATE" property="dayKey" />
    <result column="merchant" jdbcType="VARCHAR" property="merchant" />
    <result column="register_cnt" jdbcType="INTEGER" property="registerCnt" />
    <result column="realname_cnt" jdbcType="INTEGER" property="realnameCnt" />
    <result column="zfb_cnt" jdbcType="INTEGER" property="zfbCnt" />
    <result column="mobile_cnt" jdbcType="INTEGER" property="mobileCnt" />
    <result column="order_cnt" jdbcType="INTEGER" property="orderCnt" />
    <result column="first_cnt" jdbcType="INTEGER" property="firstCnt" />
    <result column="second_cnt" jdbcType="INTEGER" property="secondCnt" />
    <result column="old_cnt" jdbcType="INTEGER" property="oldCnt" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  
  <select id="findReportRegisterOrderList" resultType="map">
    select * from report_register_order
    <where>
        and merchant = #{merchant}
      <if test="startTime != null">
		and day_key &gt;= #{startTime}
	  </if>
	  <if test="endTime != null">
		and day_key &lt;= #{endTime}
	  </if>
    </where>
    order by day_key desc limit #{startIndex},#{pageSize}
  </select>
  
  <select id="countReportRegisterOrder" resultType="int">
    select COUNT(1) from report_register_order
    <where>
        and merchant = #{merchant}
      <if test="startTime != null">
		and day_key &gt;= #{startTime}
	  </if>
	  <if test="endTime != null">
		and day_key &lt;= #{endTime}
	  </if>
    </where>
  </select>


    <select id="findUserReportList" resultType="map">
      select a.day_key,sum(register_cnt) as register_cnt,sum(apply_cnt) as apply_cnt,sum(apply_one_cnt) as apply_one_cnt,sum(apply_two_cnt) as apply_two_cnt
      from (
            select DATE_FORMAT(create_time,'%Y-%m-%d') as day_key,1 as register_cnt,0 as apply_cnt,0 as apply_one_cnt,0 as apply_two_cnt
            from tb_user
            where 1=1
                <if test="startTime != null">
                    and create_time &gt;= #{startTime}
                </if>
                <if test="endTime != null">
                    and create_time &lt;= #{endTime}
                </if>
            UNION all
            select DATE_FORMAT(create_time,'%Y-%m-%d') as day_key,0 as register_cnt,1 as apply_cnt,if(source=0,1,0) as apply_one_cnt,if(source=0,0,1) as apply_two_cnt
            from tb_order
            where `status` in (30,31,32,33,34,40,41,42)
            <if test="startTime != null">
                and create_time &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                and create_time &lt;= #{endTime}
            </if>
        ) as a
        GROUP BY a.day_key
        order by day_key desc
        limit #{startIndex},#{pageSize}
    </select>

    <select id="countUserReport" resultType="int">
    select count(*)
    from (
        select a.day_key
        from (
                select DATE_FORMAT(create_time,'%Y-%m-%d') as day_key,1 as register_cnt,0 as apply_cnt,0 as apply_one_cnt,0 as apply_two_cnt
                from tb_user
                    where 1=1
                    <if test="startTime != null">
                        and create_time &gt;= #{startTime}
                    </if>
                    <if test="endTime != null">
                        and create_time &lt;= #{endTime}
                    </if>
                UNION all
                select DATE_FORMAT(create_time,'%Y-%m-%d') as day_key,0 as register_cnt,1 as apply_cnt,if(source=0,1,0) as apply_one_cnt,if(source=0,0,1) as apply_two_cnt
                from tb_order
                where `status` in (30,31,32,33,34,40,41,42)
                    <if test="startTime != null">
                        and create_time &gt;= #{startTime}
                    </if>
                    <if test="endTime != null">
                        and create_time &lt;= #{endTime}
                    </if>
            ) as a
        GROUP BY a.day_key
        ) aa
    </select>


</mapper>